:root {
  --primary-color: orangered;
}

html {
  font: normal 1em/1.2em Arial;
  background: var(--primary-color);
}

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: white;
}
