.Play {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (orientation: landscape) {
  /* The background get black on full screen mode. */
  html {
    background: black !important;
  }
}
