section.Play {
  display: flex;
  flex-direction: column;
}

@media (orientation: landscape) {
  /* The background get black on full screen mode. */
  body.Play {
    background: black !important;
  }
}
